name: DevOpsify CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | \
          docker login --username AWS --password-stdin 211125723951.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Backend Image
        run: |
          docker build -t devopsify-backend ./backend
          docker tag devopsify-backend:latest 211125723951.dkr.ecr.us-east-1.amazonaws.com/devopsify-backend:latest
          docker push 211125723951.dkr.ecr.us-east-1.amazonaws.com/devopsify-backend:latest

      - name: Build Frontend Image
        run: |
          docker build -t devopsify-frontend ./frontend
          docker tag devopsify-frontend:latest 211125723951.dkr.ecr.us-east-1.amazonaws.com/devopsify-frontend:latest
          docker push 211125723951.dkr.ecr.us-east-1.amazonaws.com/devopsify-frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/devopsify
            docker-compose pull
            docker-compose up -d
